name: CI Pipeline

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Vérifier les fichiers
        run: ls -la

      - name: Tests simples
        run: |
          echo "Vérification HTML"
          test -f index.html
          test -f style.css

      - name: Créer un artefact
        uses: actions/upload-artifact@v4
        with:
          name: site-build
          path: .
